[submodule "ffmpeg-src"]
	path = ffmpeg-src
	url = git@github.com:FFmpeg/FFmpeg.git
[submodule "openh264-src"]
	path = openh264-src
	url = git@github.com:cisco/openh264.git
[submodule "libass-src"]
	path = libass-src
	url = git@github.com:libass/libass.git
[submodule "fontconfig-src"]
	path = fontconfig-src
	url = git://anongit.freedesktop.org/fontconfig
[submodule "freetype2-src"]
	path = freetype2-src
	url = git://git.savannah.gnu.org/freetype/freetype2.git
[submodule "frei0r-src"]
	path = frei0r-src
	url = git@github.com:dyne/frei0r.git
