[submodule "ffmpeg-src"]
	path = ffmpeg-src
	url = git@github.com:FFmpeg/FFmpeg.git
[submodule "openh264-src"]
	path = openh264-src
	url = git@github.com:cisco/openh264.git
[submodule "libass-src"]
	path = libass-src
	url = git@github.com:libass/libass.git
